<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//com.atguigu.mybatis.org//DTD Config 3.0//EN"
        "http://com.atguigu.mybatis.org/dtd/com.atguigu.mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/com.atguigu.mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="admin@123"/>
            </dataSource>
        </environment>
    </environments>


    <!--将我们写好的sql映射文件(EmployeeMapper.xml)一定要注册到全局配置文件(com.atguigu.mybatis-config.xml)中-->
    <mappers>
        <!--<mapper resource="org/com.atguigu.mybatis/example/BlogMapper.xml"/>-->
        <mapper resource="EmployeeMapper.xml"/>
    </mappers>
</configuration>